* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  text-align: center;
  height: 100vh;
}

#page {
  width: 592px;
  margin: 0 auto;
}

header img {
  width: 348px;
  height: 223px;
}

main {
  margin: 7.2rem 0 7.2rem 0;
}

h1 {
  font-family: "Inter", sans-serif;
  line-height: 5.6rem;
  font-weight: 400;
  font-size: 4.9rem;
  color: #000;

  margin-bottom: 3.2rem;
}

h1 span {
  font-weight: 700;
}

body,
p,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
}

span {
  color: #ff9900;
}

p {
  color: #7d7987;
  line-height: 2.8rem;
  font-size: 1.4rem;
}

p + p {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ff9900;
  cursor: pointer;
}

a:hover {
  color: #000;
}

a + a {
  margin-left: 2rem;
}

footer {
  width: 100%;
  border-top: 1px solid #eceff2;
  padding-top: 0.8rem;
}

#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
